/* body {
} */
/* @import 'antd/dist/antd.css'; */

.toggle-button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #000000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
}

.progress-circle {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.display-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  margin: 50% 0 25px; /*top  left  bottom*/
  /* width: 50%; */
  /* border: 0; */
  padding: 15px;
}

.showUser {
  visibility: visible;
}

.analysis-buttons {
  text-align: center;
}
