<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>
		<add name="ConnectionString" connectionString="server=localhost;uid=sa;pwd=Wash9Lives!;database=Aptimage" />
	</connectionStrings>

	<system.web>
	  <customErrors mode="Off" />
      <compilation debug="true" />
	  
		<sessionState timeout="40" mode="InProc" />
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
    </system.web>

    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <httpProtocol allowKeepAlive="true" />
    </system.webServer>

</configuration>
